body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./img/5_background/desert.png);
  background-position: center;
  font-family: "Spicy Rice", Arial, Helvetica, sans-serif;
}

canvas {
  margin-top: 20px;
  background-color: transparent;
  border-radius: 16px;
}

h1 {
  margin-top: 100px;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
  height: 100px;
  width: 75%;
}

button {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-color: #ff7423;
  color: white;
  cursor: pointer;
}

label {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  background-color: #ff7423;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

.playButton {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  border-radius: 16px;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 18px;
  align-items: center;
  justify-items: center;
}

.playButton:hover {
  background-color: #bc4400;
}

.refreshtBtn {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  border-radius: 16px;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 18px;
}

.refreshtBtn:hover {
  background-color: #bc4400;
}
