html {
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./img/5_background/desert.png);*/
  background-position: center;
  font-family: "Chicle", Arial, Helvetica, sans-serif;
  margin: 0;
}

.headline {
  position: fixed;
  top: 0px;
  margin: 0;
  padding: 0;
}
canvas {
  margin-top: 135px;
  margin-bottom: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 16px;
  display: block;
  z-index: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-family: "Chicle";
  font-size: 24px;
  letter-spacing: 3px;
  font-weight: 100;
  color: black;
}

h3 {
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 100;
}

.navigation {
  display: flex;
  gap:10px;
  margin-top: 20px;

  }


.navi_left{
display: flex;
gap:10px;
  }


.navi_right{
display: flex;
gap: 10px;
}


button {
  height: 90px;
  width: 90px;
  border-radius: 100%;
  background-color: #ff7423;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  color: white;
  cursor: pointer;
}

label {
  height: 90px;
  width: 90px;
  border-radius: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: #ff7423;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  padding-left: 3px;
  padding-right: 3px;
}

.playButton {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  border-radius: 16px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 18px;
  align-items: center;
  justify-items: center;
}

.playButton:hover {
  background-color: #bc4400;
}

.gameSteering {
  margin-top: 10px;
  margin-bottom: 30px;
  z-index: 1000;
}

.refreshtBtn {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  border-radius: 16px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 18px;
}

.refreshtBtn:hover {
  background-color: #bc4400;
}

.jump {
  display: flex;
}

.throw {
  display: flex;
  margin-right: 15px;
}

.gameRefresh:hover {
  background-color: #bc4400;
}

.muteMusik:hover {
  background-color: #bc4400;
}

.rotateDisplay {
  display: none;
}

/*-----Mobilphone -------*/
@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
  button {
    height: 60px;
    width: 60px;
  }
  label {
    height: 60px;
    width: 60px;
  }
  h3 {
    font-size: 16px;
  }
}

/*-----Mobilphone -------*/
@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}



/*---------------Mobile Version ----------------*/


@media (max-width: 450px) {
}



.mobilVersion {


body{
    display: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /* verhindert Scrollbalken */
    height: 100%;
    width: 100%; 
    
    
}


  canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

  .headline {
    display: none;
 
  }

  .navigation {
   position: absolute;
   width: 100%;
   justify-content: space-between;
   flex-direction: row;
     
   
  }

  .navi_left{
  flex-direction: column;
  margin-top: 110px;
  margin-left: 5px;
    
  }

.navi_right{
    flex-direction: column-reverse;
    margin-top: 110px;
margin-right: 5px;
}


  button {
    
  }






  .gameSteering {
  position: absolute;
  top:40px;
  }
}
